* {
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    font-size: 11px;
}

html, body {
    min-height: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ECECEC;
}

.main_1 {
    position: relative;
    background-color: #FFFFFF;
    padding: 0 0 100px 0;
    overflow: hidden;
    z-index: 1;
}
.dialog1 {
    padding: 16px;
    width: 90%;
    background-color: #FAF9F7;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 0px 20px #000;
}

h3
{
    color: #C33D1C;
    font-size: 16px;
    font-weight: bold;
}

h4
{
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.form-control {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font: inherit;
    margin: auto;
}

.big-navi-button3 {
    display: block;
    width: auto;
    height: 37px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    color: #FFF;
    padding: 6px 12px;

    background: #3c4149;
    box-shadow: 1px 2px 6px 0px #000000;

    font-size: 23px;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

.big-navi-button3:active {
    background-color: #ADAABA;
    font-weight: normal;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#rounded-corner2 {
    font-size: 11px;
    margin: 10px 0 0 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#rounded-corner2 th {
    padding: 4px;
    background: #f7f9ff;
    border: 1px solid #becbfb;
}
